@using  Web.Student.Models
@model  Web.Student.Models.ChangePasswordModel
@{
    ViewBag.Title = "ResetPassword";
    var baseData = ViewData["BaseData"] as BaseData;
    var version = baseData.Version;
    Layout = "~/Views/Web/Layouts/Default.cshtml";
}

<script>
    $('body').addClass('has-detached-left');
</script>

@Html.Partial("~/Views/"+ version +"/Web/Profile/Partials/Profile_Navbar.cshtml")


<div class="container-detached">
    <div class="content-detached">

        <!-- Simple login form -->
        @using (Html.BeginForm("changepassword", "profile", FormMethod.Post, new { @class = "", role = "form" }))
        {
            <div class="panel panel-body login-form">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        @if (Model.Success)
                        {
                            <div class="alert alert-success no-border">
                                @Model.Message
                            </div>
                        }
                      
                        <div class="text-center">
                            <h5 class="content-group">
                                Thay đổi mật khẩu
                                <small class="display-block">Nhập mật khẩu mới vào khung bên dưới</small>
                            </h5>
                        </div>
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger">@TempData["Message"]</div>
                        }
                        <div class="form-group has-feedback has-feedback-left">
                            @Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder = "Mật khẩu mới"})
                            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", @placeholder = "Nhập lại mật khẩu mới"})
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                Đổi mật khẩu
                                <i class="icon-circle-right2 position-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>