@model  Web.Student.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Web/Layouts/Signin.cshtml";
}

<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">

                <!-- Simple login form -->
                @using (Html.BeginForm("ForgotPassword", "Employee", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="panel panel-body login-form">
                        @if (!string.IsNullOrEmpty(Model.Message))
                        {
                            <div class="alert alert-warning no-border">
                                <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                @Model.Message
                            </div>
                        }
                        <div class="text-center">
                            <h5 class="content-group">
                                Quên mật khẩu
                                <small class="display-block" style="line-height: 20px">Anh/Chị vui lòng nhập địa chỉ email và làm theo hướng dẫn để lấy lại mật khẩu ạ</small>
                            </h5>
                        </div>
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger">@TempData["Message"]</div>
                        }
                        <div class="form-group has-feedback has-feedback-left">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @placeholder = "Địa chỉ email"})
                            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning btn-block">
                                Lấy lại mật khẩu
                                <i class="icon-circle-right2 position-right"></i>
                            </button>
                            <a href="/" class="mt-15 btn" style="margin-top: 15px">Quay lại</a>
                        </div>
                    </div>
                }
                <!-- /simple login form -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>