@using  Web.Student.Models
@using Service.Core.Components
@model  Web.Student.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Đặt lại mật khẩu";
    var baseData = ViewData["BaseData"] as BaseData;
    var version = baseData.Version;
    Layout = "~/Views/Web/Layouts/Signin.cshtml";
}
 
<!-- /main navbar -->
<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">
                @{
                    if (Model.Step == 1)
                    {
                      
                        <!-- Simple login form -->
                        using (Html.BeginForm("ResetPassword", "Employee", FormMethod.Post, new { @class = "", role = "form" }))
                        {
                            @Html.HiddenFor(x => x.Email)
                            @Html.HiddenFor(x => x.Code)
                            @Html.HiddenFor(x => x.Step)
                            <div class="panel panel-body login-form">
                                @if (Model.Result != null && Model.Result.Message.HasValue())
                                {
                                <div class="alert alert-danger no-border mb-15">
                                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    @Model.Result.Message
                                </div>
                                }
                                <div class="text-center">
                                    <h5 class="content-group">
                                        Đặt lại mật khẩu
                                        <small class="display-block">Nhập mã số trong email vào ô bên dưới.</small>
                                    </h5>
                                </div>
                                <div class="form-group has-feedback has-feedback-left">
                                    @Html.TextBoxFor(m => m.ResetPassNumber, new {@class = "form-control", @placeholder = "Mã số"})
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block">
                                        Xác nhận
                                        <i class="icon-circle-right2 position-right"></i>
                                    </button>
                                </div>
                                <a href="/" class="mt-15 btn" style="margin-top: 15px">Quay lại</a>
                            </div>
                        }
                    }
                    else if (Model.Step == 2)
                    {
                       
                        using (Html.BeginForm("ResetPassword", "employee", FormMethod.Post, new { @class = "", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.Email)
                            @Html.HiddenFor(x => x.Code)
                            <input type="hidden" name="Step" value="2"/>
                            <div class="panel panel-body login-form">
                                @if (Model.Result != null && Model.Result.Message.HasValue())
                                {
                                <div class="alert alert-danger no-border mb-15">
                                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    @Model.Result.Message
                                </div>
                                }
                                <div class="text-center">
                                    <h5 class="content-group">
                                        Đặt lại mật khẩu
                                        <small class="display-block">Nhập mật khẩu mới vào khung bên dưới</small>
                                    </h5>
                                </div>
                                @if (TempData["Message"] != null)
                                {
                                    <div class="alert alert-danger">@TempData["Message"]</div>
                                }
                                <div class="form-group has-feedback has-feedback-left">
                                    @Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder = "Mật khẩu mới"})
                                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>
                                <div class="form-group has-feedback has-feedback-left">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", @placeholder = "Nhập lại mật khẩu mới"})
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block">
                                        Đổi mật khẩu và đăng nhập
                                        <i class="icon-circle-right2 position-right"></i>
                                    </button>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-danger no-border">
                            <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                            @Model.Result.Message
                        </div>
                    }
                }
                <!-- Simple login form -->
                <!-- /simple login form -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
