@using  Web.Student.Models
@using Service.Core.Components
@using Service.Utility.Components

@{
    var baseData = ViewData["BaseData"] as BaseData;
    var version = baseData.Version;
    var groups = baseData.FeatureGroups;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="VlwHRdh-wzfUcWmmw11Xj9fj55dypOVJkPGTy7xKiok" />
    <title>@ViewBag.Title</title>

    <script>
        var browser = '@baseData.Browser';
        var isAdmin = '@baseData.IsAdmin';
        var DOMAIN_API = '';
        var PORTAL_API = '';
        var roles = @Html.Raw(Json.Encode(groups));
        var auth = @Html.Raw(Json.Encode(baseData.AuthData));
        var notify = false;
    </script>

    @BundleHelper.Generate(new List<BundleType>()
    {
        BundleType.Web2,
        BundleType.FontOpenSans
    })
</head>
<body>
    <div id="webaby_plugin_include">
        @RenderSection("assets", required: false)
    </div>
    @Html.Partial("~/Views/Web/Shared/header.cshtml", true)
    <div class="page-container">
        <div class="page-content">
            @Html.Partial("~/Views/Web/Shared/navbar.cshtml")
            <div class="content-wrapper">
                <div class="content no-padding">
                    @RenderBody()
                </div>
                @Html.Partial("~/Views/Web/Shared/footer.cshtml")
            </div>
        </div>
    </div>
</body>
</html>
