@using DBServer.Entities
@using Service.Core.Components
@using Service.Utility.Components
@using Service.Utility.Variables
@model  Service.Education.Executes.Clothesmn.SoldCoupons.SoldCouponViewModel


@{
   @* var groupSize = ViewData["SizeList"] as List<BaseItem>;

    var groupType = new List<TypeClothe>();
    using (var l = new DBServer.Entities.ServerDBContext())
    {
        groupType = l.TypeClothes.Where(x => x.Status >= 0).ToList();
    }


    var groupBrand = new List<Brand>();
    using (var l = new DBServer.Entities.ServerDBContext())
    {
        groupBrand = l.Brands.Where(x => x.Status >= 0).ToList();
    }*@

    var groupStatus = ViewData["StatusList"] as List<BaseItem>;
    var groupShoppingMethods = ViewData["ShopTable"] as List<BaseItem>;


}

<script src="~/assets/js/web/Clothmn/SoldCouponEdit.js"></script>


<form id="SoldCouponForm" class="form form-horizontal">

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="row">
        <div class="col-md-6">

            @AppHelper.InputInline(new ControlAttribute()
            {
                Title = "Người mua",
                Name = "BuyerName",
                Value = Model.BuyerName,
                LabelCol = 4,
                Required = true,

            })
        
            @AppHelper.InputInline(new ControlAttribute()
           {
               Title = "Điện thoại",
               Name = "PhoneNumber",
               Value = Model.PhoneNumber,
               LabelCol = 4,
               Required = true,
@*             HasDefaultOption = true,
*@             @*List = groupSize.Select(x => new SelectOption { Text = x.Name, Value = x.Code + "" }).ToList()*@

           })


            @AppHelper.InputInline(new ControlAttribute()
            {
               Title = "Địa chỉ",
               Name = "AddressBuyer",
               Value = Model.AddressBuyer,
               LabelCol = 4,
               Required = true,
               @*HasDefaultOption = true,*@
               @*List = groupType.Select(x => new SelectOption { Text = x.Name, Value = x.Id + "" }).ToList()*@
           })


         @*@AppHelper.ComboDate(new ControlAttribute()*@
           <!--{
               Title = "Ngày bán",
               Name = "SoldDate",
               Value = Model.SoldDate.ToString(),
               LabelCol = 4,
               Required = true,-->
              @* HasDefaultOption = true,*@
              @* List = groupBrand.Select(x => new SelectOption { Text = x.Name, Value = x.Id + "" }).ToList()*@
           <!--})-->   
        </div>

        <div class="col-md-6">
           @AppHelper.SelectInline(new ControlAttribute()
           {
             Title = "Phương thức mua hàng",
             Name = "IsOnlineShop",
             Value = Model.IsOnlineShop + "",
             LabelCol = 4,
             Required = true,
             HasDefaultOption = true,
             List = groupShoppingMethods.Select(x => new SelectOption { Text = x.Name, Value = x.Code + "" }).ToList()
           })



                @AppHelper.SelectInline(new ControlAttribute()
            {
               Title = "Trạng thái",
               Name = "Status",
               Value = Model.Status.ToString(),
               LabelCol = 4,
               Required = true,
               HasDefaultOption = true,
               List = groupStatus.Select(x => new SelectOption { Text = x.Name, Value = x.Code + "" }).ToList()

            })

                

        </div>

        
        @*Knockout Javascript*@
    <div class="col-md-12">
        <button class="btn btn-success" type="button" data-bind="click: AddReceiptRow">THÊM</button>
        <table class="table">
            <thead>
                <tr>
                    <th class="warning">STT</th>
                    <th class="warning" >Tên hàng hóa</th>
                    <th class="warning" >Đơn vị tính</th>
                    <th class="warning">Số lượng</th>
                    <th class="warning">Đơn giá</th>
                    <th class="warning">Thành tiền</th>
                    <th class="warning"></th>
                </tr>
            </thead>

            <tbody data-bind="foreach: ReceiptArray()">
                <tr>
                    <td data-bind="text: id"> </td>
                    <td> <input data-bind="value: couponname" /></td>
                    <td> <input data-bind="value: unitmeasure"/></td>
                    <td> <input data-bind="value: ammount"/> </td>
                    <td> <input data-bind="value: price"/> </td>
                    <td> <input data-bind="value: finalprice"/> </td>
                    <td> <button class="btn btn-success" type="button" data-bind="click: DeleteReceiptRow">XÓA</button></td>
                </tr>
            </tbody>

        </table>
        <h3 class="col-md-offset-8">Tổng tiền hàng: <span data-bind ="text: totalprice"></span> </h3> 
        <button class="btn btn-rounded btn-primary" data-bind =" click: ShowTotalPrice">HIỂN THỊ TỔNG TIỀN</button>



    </div>

    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-sm btn-default form-cancel mr-10 btn-rounded" data-dismiss="modal">
                <i class="fa fa-remove"></i> THOÁT
            </button>
            <button class="btn btn-sm btn-fill btn-primary m-r-5 btn-submit btn-rounded" type="button"
                    data-loading-text="<i class='icon-spinner4 fa-spin'></i> Processing...">
                <i class="fa fa-save"></i> LƯU
            </button>
        </div>
    </div>
</form>

<script>



    var model = @Html.Raw(Json.Encode(Model));
    function initSoldCouponForm(callback) {
        $('#SoldCouponForm').ultraForm({
            uiType: 1,
            action: '/SoldCoupon/SoldCouponEdit',
            actionType: 'ajax',
            props: [

                {
                    name: 'Id', type: 'hidden',
                    
                },



                {
                    name: 'BuyerName', type: 'text',
                    required: {
                        message: "Thiếu tên khách hàng" 
                    }
                },

                {
                    name: 'PhoneNumber',
                    type: 'text',
                    required: {
                        message: "Thiếu số điện thoại"
                    }
                },

                {
                    name: 'AddressBuyer',
                    type: 'text',
                    required: {
                        message: "Thiếu địa chỉ"
                    }
                },
@*
                {
                    name: 'SoldDate',
                    type: 'datetime',
                    
                },*@

                {
                    name: 'IsOnlineShop',
                    type: 'select2',
                    option: {
                    },
                    
                },

                {
                    name: 'Status',
                    type: 'select2',
                    option: {
                    },
                    
                }

               






            ],
            @*initCallback: function (form) { },
            beforSubmit: function (form) { },
            afterSubmit: function (result) {
                if (result.Success) {
                    callback(result.Data);
                } else {
                    app.notify('warning', result.Message);
                }
            }*@

            autoSubmit: false,
            validCallback: (data, btn) => {
                data = app.formDataToJson(data);
                console.log(data);
                $.ajax({
                    url: "/SoldCoupon/SoldCouponEdit",
                    type: "POST",
                    data: {},
                    success: (list) => {
                        console.log(list);
                    }
                });
            }
        });
    }




</script>




